name: rundoc-ci-test
on:
  pull_request:
    branches:
      - main
    paths:
      - ".github/**"
      - ".rundoc-workspace/**"
      - "docs/src/**"

permissions:
  contents: read

jobs:
  test-rundoc:
    runs-on: ubuntu-latest
    env:
      BUNDLE_GEMFILE: .rundoc-workspace/Gemfile
    strategy:
      matrix:
        lang: ["ruby", "dotnet", "nodejs", "python", "php", "go", "java_maven", "java_gradle", "scala"]
      fail-fast: false
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.3"
          bundler-cache: true # do run 'bundle install' and cache
      - uses: buildpacks/github-actions/setup-pack@f3ec16c6d708761c6e87bbc8fe7f97375f80e7cd # v5.10.1

      # [CONFIG] add different languages set up here
      - run: |
          bundle exec rundoc docs/src/${{ matrix.lang }}/RUNDOC.md \
            --on-success-dir docs/${{ matrix.lang }} \
            --on-failure-dir docs/fail/${{ matrix.lang }} \
            --force
